<section class="cmspage mtb-40">
    <div class="container">
      <h1>About</h1>
      <div class="page-desc">
        Made up of talented artists with thriving solo careers, Doomtree brings these musicians together to work on creative projects as a crew. The group “started as a mess of friends in Minneapolis, fooling around after school, trying to make music without reading the manual.”

        As soon as you arrive on Doomtree’s about us page, you’re greeted with big, bold photos of those friends.
        As you scroll down, you get more interaction with the crew’s events and music tracks. That makes sense because it gives visitors an instant sample of Doomtree's product.
      </div>
    </div>
</section>